<table class="table mt-5">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Type</th>
        <th scope="col">Key</th>
        <th scope="col">Summary</th>
        <th scope="col">Assignee</th>
        <th scope="col">Reporter</th>
        <th scope="col">Priority</th>
        <th scope="col">Status</th>
        <th scope="col">Created</th>
    </tr>
    </thead>
    <tbody>
    {% for todo in todo_list %}
        <tr>
            <a href="{{ todo.get_absolute_url }}">
                {#        ('type', 'key', 'summary', 'assignee', 'reporter', 'priority', 'status', 'created') #}
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-circle-fill" viewBox="0 0 16 16" style="color: {{ todo.type }}">
                        <circle cx="8" cy="8" r="8"/>
                    </svg>
                    {#                {{ todo.type }}</td>#}
                <td>{{ todo.key }}</td>
                <td>{{ todo.summary }}</td>
                <td>{{ todo.assignee }}</td>
                <td>{{ todo.reporter }}</td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-circle-fill" viewBox="0 0 16 16" style="color: {{ todo.priority }}">
                        <circle cx="8" cy="8" r="8"/>
                    </svg>
                </td>
                {#            <td>{{ todo.priority }}</td>#}
                <td>{{ todo.status }}</td>
                <td>{{ todo.created }}</td>
            </a>
        </tr>
    {% endfor %}

    </tbody>
</table>